* {
  margin: 0;
  padding: 0;
}

body {
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #dd1818,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.main-heading{
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin: 40px 0 60px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.boxes {
  width: 200px;
  height: 300px;
  background: transparent;
  color: #fff;
  font-size: 30px;
}
